@import './index.scss';

#about {
    width: 100vw;
    overflow-x: hidden;

    .container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: left;
        width: 88vw;
        margin-inline: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

#about::-webkit-scrollbar {
    display: none;
}

.about-details {
    width: 60vw;
    margin-top: 10px;

    .p1 {
        h2 {
            font-family: $regular-400;
            color: $blue;
            font-size: 3rem;
            font-weight: 400;
            z-index: 3;
        }

        p {
            font-family: $regular-400;
            color: $black;
            line-height: 32px;
            font-size: 1.25rem;
            padding: 10px 0 10px 0
        }

        a {
            color: $blue;
            text-decoration: none;
            display: inline-block;
            position: relative;
        }

        a:after {
            position: absolute;
            height: 2px;
            bottom: 0;
            left: 0;
            width: 100%;
            content: '';
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
            background-color: $blue
        }

        a:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }

    .p2 {
        display: flex;
        width: 1000px;
        flex-wrap: wrap;
        align-items: baseline;

        ul {
            width: fit-content;
            font-family: $regular-400;
            color: $blue;
            line-height: 32px;
            font-size: 1.25rem;
            margin-bottom: 20vh;

            li {
                margin-right: 60px;
            }
        }
    }
}

.about-img {
    background-image: url('../static/about/Idpic_final.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 235px;
    height: 376px;
    border-radius: 31px;
    transform: translateY(80px);
    margin-inline-start: auto;
    pointer-events: none;
}


// Tablet/Mobile screens
@media screen and (max-width: 850px) {
    #about .container{
        width: 85vw;
        margin-inline: auto;
        justify-content: none;
    }

    .about-img {
        background-position: 0 -40px;
        width: 150px;
        height: 150px;
        border-radius: 600px;
        margin-inline-start: 0;
        margin-inline-end: auto;
        margin-top: 50px;
        transform: none;
    }

    .about-details {
        width: 80vw;

        .p1 p {
            font-size: 1.1rem
        }
    }
}

@media screen and (max-width: 700px) {
    .about-img {
        margin-top: 100px;
    }

    .about-details {
        margin-top: 0;

        h2 {
            margin-top: 30px;
        }

        .p2 ul li {
            margin-right: 5vw;
        }
    }
}

@media screen and (max-width: 500px) {
    #about .container {
        width: 90vw;
    }

    .about-details {
        width: 90vw;
    }
}


// Desktop screens
@media screen and (min-width: 1200px) {
    #about .container {
        width: calc(100vw - 18vw);
        margin-inline: 9vw;
    }
}

@media screen and (min-width: 1400px) {
    #about .container {
        width: calc(100vw - 30vw);
        margin-inline: 15vw;
    }

    .about-details {
        width: 50vw;
    }
}

@media screen and (min-width: 1600px) {
    #about .container {
        width: calc(100vw - 50vw);
        margin-inline: 25vw;
    }

    .about-details {
        width: 35vw;
    }
}