@import './index.scss';

#experience {
    width: 100vw;
    overflow-x: hidden;

    .container {
        width: 86vw;
        margin-inline: auto;
    
        .experience-info .container {
            height: auto;
            width: auto;
        }
    }

    .title {
        width: 100vw;
    
        h2 {
            font-family: $regular-400;
            font-weight: 400;
            color: $blue;
            font-size: 3rem;
        }
    }
}

.experience-info {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;

    .selection {
        width: 20vw;
        margin-right: 70px;
    }

    .selection ul {
        width: 20vw;
        padding-left: 5px;
        margin-top: 0;
    }

    .selection li {
        max-width: 200px;
        font-family: $regular-400;
        color: $black;
        line-height: 32px;
        margin-bottom: 32px;
        list-style-type: none;
        border-left: solid 3px;
        border-left-color: $black;
        padding-left: 10px;
        font-weight: 400;
        cursor: pointer;
    }

    .selection li:hover {
        background-color: $light-purple;
        transition-delay: 0.1s;
        color: $blue;
        border-color: $blue;
    }

    .selection .chosen {
        border-color: $blue;
        color: $blue;
    }

    .career-info {
        width: calc(65vw - 70px);

        h3 {
            margin-block: 0;
            font-family: $regular-400;
            font-weight: 400;
            font-size: 1.875rem;
            color: $black;
        }

        p {
            margin-block: 10px;
            font-family: $regular-400;
            font-size: 1.25rem;
            color: $black;
            line-height: 32px;
        }

        a {
            color: $blue;
            text-decoration: none;
        }

        .date {
            color: $purple;
            font-size: 1.5rem;
        }

        .container {
            margin: 0 0 10vh 0;
        }
    }
}

#experience::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 800px) {
    .experience-info {
        .selection {
            margin: 20px auto 50px auto;
            width: 86vw;
            overflow-x: scroll;
            overflow-y: hidden;
        }

        .selection ul {
            display: flex;
            flex-direction: row;
            padding-left: 0;
            margin: auto;
            width: auto;
            max-width: 86vw;
            min-width: 184.59px;
        }

        .selection li {
            display: table-cell;
            vertical-align: middle;
            margin: auto;
            text-align: center;
            min-width: 195.61px;
            width: calc(86vw / 3);
            height: 64px;
            font-size: 1.25rem;
        }

        .career-info {
            width: auto;
        }
    }
}

@media screen and (max-width: 700px) {
    #experience .title {
        margin-top: 100px;
    }
}

@media screen and (max-width: 280px) {
    h2 {
        font-size: 2.5rem!important;
    }

    h3 {
        font-size: 1.6rem!important;
    }

    p {
        font-size: 1rem!important;
    }
}

@media screen and (max-width: 500px) {
    .experience-info {
        width: 88vw;
    }

    .date {
        font-size: 1.5rem!important;
    }

    p {
        font-size: 1rem!important;
    }
}

@media screen and (min-width: 1200px) {
    #experience .container {
        width: 79vw;
    }

    .experience-info .career-info {
        width: calc(59vw - 40px);
    }

    .experience-info .selection {
        margin-right: 40px;
    }
}

@media screen and (min-width: 1400px) {
    #experience .container {
        width: 60vw;
    }

    .experience-info .career-info {
        width: calc(39vw - 30px);
    }

    .experience-info .selection {
        margin-right: 30px;
    }
}