#container {
    position: relative;
    top: -130%;
    left: -11%;
    width: 115vw;
    height: 115vh;
}

canvas {
    position: relative;
    width: 115vw!important;
    height: 115vh!important;
}

@media screen and (min-width: 1200px) {
    #container {
        top: -119%;
    }
}

@media screen and (min-height: 900px) {
    #container {
        top: -117%;
    }
}

@media screen and (min-height: 1000px) {
    #container {
        top: -123%;
    }
}