#container {
    position: relative;
    top: -37vh;
    left: -16.9%;
    width: 0;
    height: 0;
    z-index: 2;
}

canvas {
    position: relative;
    z-index: 2;
    width: 115vw!important;
    height: 115vh!important;
}


// Desktop screens
@media screen and (min-width: 1200px) {
    #container {
        left: -22.5%;
    }
}

@media screen and (min-width: 1300px) {
    #container {
        left: -26.6%;
    }
}

@media screen and (min-width: 1500px) {
    #container {
        left: -37.65%;
    }
}

@media screen and (min-width: 1600px) {
    #container {
        left: -51.4%;
    }
}

@media screen and (min-width: 1680px) {
    #container {
        left: -52.46%;
    }
}

@media screen and (min-height: 600px) {
    #container {
        top: -33vh;
    }
}

@media screen and (min-height: 700px) {
    #container {
        top: -37vh;
    }
}

@media screen and (min-height: 800px) {
    #container {
        top: -39.5vh;
    }
}

@media screen and (min-height: 1000px) {
    #container {
        top: -44vh;
    }
}

@media screen and (width: 1280px) and (min-height: 500px) and (max-height: 600px) {
    #container {
        top: -32vh;
    }
}


// Tablet screens
@media screen and (max-width: 1000px) {
    #container {
        left: -13.75%;
    }

    canvas {
        width: 105vw!important;
        height: 105vh!important;
    }
}

@media screen and (max-width: 900px) {
    #container {
        left: -4.5%;
    }

    canvas {
        width: 100vw!important;
        height: 100vh!important;
    }
}

@media screen and (max-width: 800px) {
    #container {
        left: -2.9%;
    }
}

@media screen and (max-width: 700px) {
    #landing {
        height: auto;
    }

    #container {
        display: none;
    }
}

@media screen and (height: 1024px) {
    #container {
        top: -37vh;
    }
}

@media screen and (min-height: 1300px) {
    #container {
        top: -47vh;
    }
}

@media screen and (width: 820px) and (height: 1180px) {
    #container {
        top: -39vh;
    }
}

@media screen and (width: 810px) and (height: 1080px) {
    #container {
        top: -37vh;
    }
}

@media screen and (width: 800px) and (height: 1280px) {
    #container {
        top: -39vh;
    }
}

@media screen and (width: 1024px) and (max-height: 600px) {
    #container {
        top: -33vh;
        left: -15.5%;
    }
}