@import './index.scss';

#landing {
    width: 100vw;
    height: calc(100vh - 70px);
    overflow-y: hidden;
    overflow-x: hidden;

    .container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        margin-inline: auto;
        margin-block: calc((100vh - 70px - 480px) / 2);
        width: 90%;
        max-height: 500px;
        z-index: 2;
    }

    a {
        z-index: 2;
        pointer-events: none;
    
        .button {
            position: relative;
            z-index: 2;
            margin: 177% 0 0 1%;
            background-color: transparent;
            font-family: $regular-400;
            color: $blue;
            font-size: 24px;
            width: 230px;
            height: 80px;
            border: solid 5px $blue;
            border-radius: 10px;
            cursor: pointer;
            pointer-events: all;
        }
    
        .button:hover {
            background-color: $light-purple;
            transition-delay: 0.1s;
        }
    }
}

.landing-info {
    z-index: 2;
    pointer-events: none;
    width: 60%;
    max-width: 518px;

    .greeting, .name, .short-desc, .long-desc {
        margin: 0 0 10px 0;
    }

    .greeting {
        font-family: $regular-400;
        font-weight: 300;
        font-size: 1.5rem;
        color: $black;
    }

    .name {
        font-family: $regular-400;
        font-weight: 300;
        font-size: 6rem;
        color: $blue;
    }

    .short-desc {
        margin-bottom: 40px;
        font-family: $regular-400;
        font-weight: 300;
        font-size: 3rem;
        color: $black;
    }

    .long-desc {
        font-family: $regular-400;
        font-weight: 300;
        font-size: 1.5rem;
        color: $gray;
        line-height: 32px;
    }
}

// Desktop media screens
@media screen and (min-width: 1200px) {
    .landing-info {
        .greeting {
            font-size: 1.3rem;
        }

        .name {
            font-size: 4.5rem;
        }
        
        .short-desc {
            font-size: 2.5rem;
        }

        .long-desc {
            font-size: 1.3rem;
        }
    }

    #landing a .button {
        margin-top: 140%;
        transform: translateX(24%);
    }
}

@media screen and (min-width: 1300px) {
    #landing .container {
        width: 80%;
    }
    #landing a .button {
        transform: translateX(14%);
    }
}

@media screen and (min-width: 1400px) {
    #landing a .button {
        transform: translateX(18%);
    }
}

@media screen and (min-width: 1500px) {
    #landing .container {
        width: 70%;
    }
    #landing a .button {
        transform: translateX(9%);
    }
}

@media screen and (min-width: 1600px) {
    #landing a .button {
        transform: translateX(-1%);
    }

    #landing .container {
        width: 60%;
    }
}

@media screen and(min-width: 1700px) {
    #landing a .button {
        margin-top: 179%;
        transform: translateX(5%);
    }

    #landing .container {
        width: 60%;
    }

    .landing-info {    
        .greeting {
            font-size: 1.5rem;
        }
    
        .name {
            font-size: 6rem;
        }
    
        .short-desc {
            font-size: 3rem;
        }
    
        .long-desc {
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width: 1900px) {
    #landing a .button {
        transform: translateX(12%);
    }
}

@media screen and (min-height: 1000px) {
    #landing .container {
        margin-top: 14%;
    }
}

@media screen and (width: 1920px) and (height: 1080px) {
    #landing .container {
        margin-top: 12%;
    }
}

// Tablet screens
@media screen and (max-width: 1000px) {
    .landing-info {
        .greeting {
            font-size: 1.3rem;
        }

        .name {
            font-size: 4.5rem;
        }
        
        .short-desc {
            font-size: 2.5rem;
        }

        .long-desc {
            font-size: 1.3rem;
        }
    }

    #landing a .button {
        margin-top: 168%;
        width: 190px;
    }
}

@media screen and(max-width: 900px) {
    #landing .container {
        margin-block: calc((100vh - 70px - 480px) / 2);
    }

    #landing a .button {
        margin-top: 187%;
    }
}

@media screen and (max-width: 799px) {
    #landing .container {
        margin-top: 20%;
    }
}

@media screen and (max-width: 700px) {
    #landing .container {
        display: block;
        position: static;
        width: 87%;
    }

    #landing a .button {
        display: none;
    }

    .landing-info {
        width: 92%;
    }
}

@media screen and (max-height: 700px) {
    #landing .container {
        margin-top: 5%;
    }
}

@media screen and (width: 1024px) and (min-height: 600px) {
    .landing-info {
        .greeting {
            font-size: 1.3rem;
        }

        .name {
            font-size: 4.5rem;
        }
        
        .short-desc {
            font-size: 2.5rem;
        }

        .long-desc {
            font-size: 1.3rem;
        }
    }

    #landing a .button {
        margin-top: 140%;
        transform: translateX(5%);
    }
}


// mobile screens
@media screen and (max-width: 500px) {
    .landing-info {
        .greeting {
            font-size: 1.2rem;
        }

        .name {
            font-size: 4rem;
        }
        
        .short-desc {
            font-size: 2rem;
        }

        .long-desc {
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 400px) {
    .landing-info {
        .greeting {
            font-size: 1.2rem;
        }

        .name {
            font-size: 4rem;
        }
        
        .short-desc {
            font-size: 2rem;
        }

        .long-desc {
            font-size: 1.2rem;
        }
    }
}