@import './index.scss';

#navigation {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100vw;
    z-index: 10;
    background-color: $white;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    z-index: 10;

    ul {
        list-style-type: none;
        margin: 0 40px 0 20px;
        padding: 0;
        z-index: 10;
    }

    a {
        text-decoration: none;
        z-index: 10;
    }

    a:hover {
        color: $blue;
    }

    .nav-link {
        font-family: $regular-400;
        color: $black;
        font-size: 1.05rem;
    }
}

.logo {
    position: absolute;
    align-self: flex-start;
    margin: 20px 0 0 40px;
    z-index: 10;

    img {
        height: 50px;
        width: 50px;
    }
}

.burger, .exit {
    display: none;
}

@media screen and (max-width: 700px) {
    .navbar {
        padding-top: 10vh;
        position: fixed;
        display: block;
        background-color: $white;
        width: 100vw;
        height: 100vh;

        ul {
            margin-inline: auto;
        }

        .nav-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 13vh
        }

        .nav-link {
            margin-inline: auto;
            font-size: 1.4rem;
        }

        .logo {
            transform: none;
            margin-inline: auto;
        }
    }

    .burger, .exit {
        position: fixed;
        top: 20px;
        right: 40px;
        display: block;
    }

    .burger div {
        width: 25px;
        height: 2px;
        background-color: black;
        margin: 6px 0;
    }

    #mdiv {
        width: 25px;
        height: 25px;
      }
      
      .mdiv {
        height: 25px;
        width: 2px;
        margin-left: 12px;
        background-color: black;
        transform: rotate(45deg);
      }
      
      .md {
        height: 25px;
        width: 2px;
        background-color: black;
        transform: rotate(90deg);
      }
}