@import './index.scss';

#projects {
    height: calc(100vh - 70px);
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;

    .container {
        margin-bottom: 25vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 88vw;
        margin-inline: auto;
    }
}

.title {
    font-family: $regular-400;
    margin-bottom: 100px;
    font-size: 3rem;
    color: $blue;
    font-weight: 300;
    width: 80vw;
    margin-inline: auto;
}

.project-details {
    background-color: $light-purple;
    width: 43vw;
    border-radius: 19px;
    transform: translateX(5vw);
    padding: 48px;
    z-index: 0;

    h3 {
        margin: 0;
        font-family: $regular-400;
        font-size: 2.25rem;
        font-weight: 300;
        color: $black;
    }

    p {
        font-family: $regular-400;
        font-size: 1.25rem;
        color: $black;
        line-height: 32px;
        margin: 20px 0 28px 0;
    }

    .link {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        
        p {
            margin: 0 5px 0;
            color: $blue;
        }
    }
}

.project-img {
    width: 0;
    z-index: -1;

    img {
        position: relative;
        transform: translateX(-18vw);
    }

    .dean-img {
        transform: translate(-8vw, -60px);
    }
}

@media screen and (max-width: 500px) {
    .project-details h3 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 900px) {
    #projects .container {
        width: 80vw;
        margin-bottom: 50px;
    }

    .title {
        margin-bottom: 50px;
    }

    .project-img {
        display: none;
    }

    .project-details {
        width: auto;
        transform: none;
    }
}

@media screen and (min-width: 1100px) {
    .project-img {    
        img {
            transform: translateX(-10vw);
        }
    
        .dean-img {
            transform: translate(-3vw, -60px);
        }
    }
}

@media screen and (min-width: 1200px) {
    .project-img {    
        img {
            transform: translateX(-5vw);
        }
    
        .dean-img {
            transform: translate(0vw, -60px);
        }
    }
}

@media screen and (min-width: 1441px) {
    .project-details {
        width: 30vw;
        transform: translateX(15vw);
    }

    .project-img {    
        img {
            transform: translateX(7vw);
        }
    
        .dean-img {
            transform: translate(13vw, -60px);
        }
    }
}